.map {
    height: 350px;
    background-position: center;
    background-size: contain;
}

.margin-top-negative {
  margin-top: -75px;
}

.rocket-show-card {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
