  <!-- Include the Web WorldWind library. -->
<script src="https://cdn.jsdelivr.net/npm/@nasaworldwind/worldwind@0.10.0/build/dist/worldwind.min.js"
    type="text/javascript"></script>
<%= javascript_pack_tag 'earth' %>

<div  class='w-100 p-5'> <!-- id="earthDiv" -->
  <!-- Create a canvas for Web WorldWind. -->
  <canvas id="canvasOne" class="rocket-card p-3">
    Your browser does not support HTML5 Canvas.
  </canvas>
</div>
