<div class="container">
  <h1 class="title-index text-center pb-3 pt-3"><strong>All our Rockets</strong></h1>

  <div class="row">
    <% @rockets.each do |rocket| %>
    <div class="col-12 col-md-6 col-xl-4">
      <div class="rocket-card mt-3 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path rocket.photo.key %>')">
        <div class="card-description text-left pl-4 d-flex flex-column mt-auto mb-3">
          <div class="rocket-card-title pt-3">
            <h4 style = "color: white"><%= rocket.name %></h4>
          </div>
          <p style = "color: white"><%= rocket.location %></p>
          <div class="flex pb-3">
          </div>
        </div>
        <%= link_to 'More info', rocket_path(rocket), class: "card-link"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
