<div class="banner justify-content-center">
  <div class="container align-items-center">
    <h1>RocketMan</h1>
    <%# <p>Take off now</p> %>
    <div class="row">
      <div class="col-sm-12" id="formContainer">
        <form class="form-inline justify-content-center text-center" id="SignToNewsletterForm" onsubmit="...">
          <input type="text" class="form-control input-lg" id="firstname" placeholder="Destination">
          <input type="email" class="form-control input-lg" id="email" placeholder="From">
          <input type="email" class="form-control input-lg" id="email" placeholder="To">
          <button type="submit" class="btn btn-success btn-lg">TAKE OFF <i class="fas fa-space-shuttle"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
