<h1>My rockets</h1>

<% @rockets.each do |rocket| %>
  <div class='card p-3 m-3'>
    <p><%= rocket.name %></p>
    <p><%= rocket.daily_price %></p>
    <p><%= rocket.location %></p>
    <p><%= rocket.autonomy %></p>

    <a data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
