.card-category {
  background-size: cover;
  background-position: center;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;

  h2 {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

// .background-image {
//   background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @article.photo.key, height: 300, width: 400, crop: :fill %>')
// }
