.navbar-home {
  background: transparent;
}

.navbar-allpages {
  background: black;
}

.navbar-lewagon {
  justify-content: space-between;


  .navbar-red {
    background: red
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }
}

